@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
}
.skleton-class {
  background-color: rgb(48, 48, 48);
}
.page-size-select {
  background-color: rgb(0, 0, 0);
}
.option-button {
  background-color: rgb(37, 37, 37);
}
