@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
}
.skleton-class {
  background-color: rgb(29, 29, 29) !important;
}
.page-size-select {
  background-color: rgb(0, 0, 0);
}

.option-button {
  background-color: #364153 !important;
}
